<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNN Model Classification</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
</head>
<body>
    <header>
      <h1 style="text-align:center;color:#2c3e50;">
        🚢 Titanic Survival Prediction
      </h1>
      <p style="text-align:center;color:#555;">
       Predict passenger survival using a trained K-Nearest Neighbors (KNN) machine learning model.
      </p>
    </header>
    <main>
        <form action="/classification" method="POST" style="text-align: center;">
           <label for="pclass">Passenger Class Type :</label>
           <select name="pclass" id="pclass">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
           </select>
        
           <label for="sex">Gender :</label>
           <select name="sex" id="sex">
              <option value="male">Male</option>
              <option value="female">Female</option>
           </select>
           
           <label for="age">Age :</label>
           <input type="text" name="age" id="age" placeholder="Enter your age" required>
           <label for="sibsp">No. of Siblings/Spouses traveling with passenger :</label>
           <input type="text" name="sibsp" id="sibsp" placeholder="Enter no. of siblings/spouses" required>
           <label for="parch">No. of Parents/Children traveling with passenger :</label><br>
           <input type="text" name="parch" id="parch" placeholder="Enter no. of parents/children" required>
           <label for="fare">Fare :</label>
           <input type="text" name="fare" id="fare" placeholder="Enter fare amount" required>
           <label for="embarked">Port where the passenger boarded the ship :</label>
           <select name="embarked" id="embarked">
              <option value="C">Cherbourg(France)</option>
              <option value="Q">Queenstown(Ireland)</option>
              <option value="S">Southampthon(England)</option>
           </select>
           <br>
           <br>
           <input type="submit" value="Submit">
        </form>
    </main>
    <div class="result">
        {% if prediction is not none %}
            {% if prediction == 0 %}
                <h3 class="not-survived">❌ Passenger Did Not Survive</h3>
            {% elif prediction == 1 %}
                <h3 class="survived">✅ Passenger Survived</h3>
            {% endif %}
        {% endif %}
     
     {% if (accuracy and precision and recall and f1 and ( cm is not none) and ( cr is not none ) )%}
         <ul>
            <li>Performance Analysis for Logistic Regression Model</li>
            <li>Accuracy : {{accuracy}}</li>
            <li>Precision : {{precision}}</li>
            <li>Recall : {{recall}}</li>
            <li>F1 Score : {{f1}}</li>
            <li>Confusion Matrix :  
                <pre>{{cm}}</pre>
            </li>
            <li>Classification Report :  
               <pre>{{cr}}</pre> 
            </li>
        </ul>
     {% endif %}
    </div>
    <footer>
        <p style="text-align: center;">&copy; 2026 All Rights Reserved.</p>
    </footer>
</body>
</html>